__Printing the character of the ASCII value__

In [ ]:
s=65
print (chr(s))

A

In [ ]:
 s="a"
print (ord(s))

97

__Sorting__

In [ ]:
a=[10,5,7,88,19]
s=sorted(a)
print(s[2])
print(s)

10
[5, 7, 10, 19, 88]

In [ ]:
a=[10,5,7,88,19]
s=sorted(a)
 
b=int(input("enter index\t"))
for i in s:  
  if i==s[b]:  
    print(i)
print(s)

enter index	2
10
[5, 7, 10, 19, 88]

__Digital Sum__

In [2]:
n=int(input ())
print("9" if (n%9==0) else n%9)

12345
6

__Hello World with tab__

In [3]:
print("Hello World\tHello World")

Hello World	Hello World

__Hello World with new line__

In [4]:
print("Hello World\nHello World")

Hello World
Hello World

__Three idiots__

In [5]:
x1=int(input())
y1=int(input ())
x2=int(input())
y2=int(input ())
x=(x1+x2)/2.0
y=(y1+y2)/2.0
print ("Binoy's house is located at ({},{})".format(x,y))

3
4
5
6
Binoy's house is located at (4.0,5.0)

__<h3>Alice in wonderland__
 
__Alice was bored that day,so she was sitting on the riverbank .Suddenly she notices a talking, White Rabbit with a pocket watch .It ran fast,and she followed it, down a rabbit hole .She fell into the hole and found a magical wonderland with dark trees, beautiful flowers.She found many ways numbered from 1,2,3,........18.she was confused which is the right way that will lead her to her home. She found a cute bird, standing in one of the tree. Alice asked the bird the way to go back to her home.The bird said a two digit number( say 23 ) and asked her to find the sum of its digits (2+3=5) and that numbered way will lead her to her home.Alice was already confused, so pls help Alice in finding the route to her home....__

In [7]:
x=int(input ())
a=x%10
c=x/10
print ("%d"%(a+c))

45
9

__<h3>Profit Calculation__
 
__Each Sunday, a newspaper agency sells x copies of a certain newspaper for Rs.a per copy. The cost to the agency of each newspaper is Rs.b . The agency pays a fixed cost for storage, delivery and so on of Rs.100 per Sunday. The newspaper agency wants to calculate the profit obtained on sundays. Can you please help them out by writing a python program to compute the profit given x, a and b.__

In [8]:
 
x=int(input ())
a=int(input ())
b=int(input ())
y=x*a-(100+x*b)
print ("The profit obtained is Rs.",y)

2
3
4
The profit obtained is Rs. -102

__Four musketeers__
 
__Dhoni joined the group of 3 Musketeers and now their group is called four Musketeers. Meanwhile, Dhoni also moved to a new house in the same locality nearby to the other three. Currently, the houses of Sachin, Dravid and Ganguly are located in the shape of a triangle. When the three musketeers asked Dhoni about the location of his house, he said that his house is equidistant from the houses of the other 3. Can you please help them find out the location of the house? Given the 3 locations {(a1,b1), (a2,b2) and (a3,b3)} of a triangle, write a program to determine the point which is equidistant from all the 3 points.__

In [9]:
a1=int(input())
b1=int(input ())
a2=int(input())
b2=int(input ())
a3=int(input())
b3=int(input ())
x=(a1+a2+a3)/3.0
y=(b1+b2+b3)/3.0
print(x)
print (y)

1
2
3
4
5
6
3.0
4.0