__Armstrong Number or Not__

In [ ]:
number = int(input("Enter the number : "))
result = 0
n = 0
temp = number;
while (temp != 0):
    temp =int(temp / 10)
    n = n + 1

temp = number
while (temp != 0):
    remainder = temp % 10
    result = result + pow(remainder, n)
    temp = int(temp/10)
if(result == number):
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Enter the number : 140
Not an Armstrong number

__Conversion from Decimal to other__

In [ ]:
n=int(input())
print(bin(n))
print(oct(n))
print(hex(n))

6
0b110
0o6
0x6

search a pattern which contains 'a' followed by 'b'

In [ ]:
import re
s=input()
p="ab+"
z=re.match(p,s)
if z:
  print(s)
else:
  print("Not matched")

abb
abb

pattern start with a followed by 0 or more occurence of b

In [ ]:
import re
s=input()
p="ab*"
z=re.match(p,s)
if z:
  print(s)
else:
  print("Not matched")

abb
abb

start with b followed by 0 or 1 occurence of a

In [ ]:
import re
s=input()
p="ba*"
z=re.match(p,s)
if z:
  print(s)
else:
  print("Not matched")

ba
ba

pattern that start with e followed by 2 or more occurence of x

In [ ]:
import re
s=input()
p="ex{2,}"
z=re.match(p,s)
if z:
  print(s)
else:
  print("Not matched")

exxx
exxx

Pattern that contains only digit

In [ ]:
import re
s=input()
p="\d*"
x=re.findall(p,s)
print(x)

656
['656', '']

pattern to find date

In [ ]:
import re
s=input()
p="[0][1-9]-[0][1-9]-\d{4}\"
x=re.findall(p,s)
print(x)

12-09-2001
['12-09-2001']

__BASICS__

In [ ]:
age = int(input())
if age<18:
  print("Not Eligible for Vote")
else:
  print("Eligible for Vote")

20
Eligible for Vote

In [ ]:
n=int(input())
if n>=0 and n<10:
  print("it is in range 0 to 10")
if n>=10 and n<20:
  print("it is in range 10 to 20")

13
it is in range 10 to 20

In [ ]:
n=int(input())
if n>=0 and n<10:
  print("it is in range 0 to 10")
else:
  print("it is positive or negative")

36
it is positive or negative

In [ ]:
for puni in "Hellp":
 pass
print("pass:",puni)

pass: p

In [ ]:
t=(1,2,3)
t+=(4,)
print(t)
print(t*2)
print(t+t)

(1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
t=(1,2,4,5,6)
t=t[:2]+(3,)+t[3:]
print(t)

(1, 2, 3, 5, 6)

In [ ]:
t=(1,2,4,5,6)
t=t[:2]+(3,)+t[2:]
print(t)

(1, 2, 3, 4, 5, 6)

write a program to determine the character enter by the user

In [ ]:
s=input()
for i in s:
  if i.isdigit():
    print("Digit")
  elif i.isalpha():
    print("Character")
  else:
    print("Special Character")

!
Special Character

write a program to convert upper to lower and vise versa

In [ ]:
s="Hello"
print(s.swapcase())

hELLO

Leap year or Not

In [ ]:
year=int(input())
if (year%4==0 and year%100!=0) or year%400==0:
  print("Leap year")
else:
  print("Not a Leap year")

2100
Not a Leap year

reverse a number

In [ ]:
n=int(input())
s=0
while (n!=0):
  rem=n%10
  s =( s*10) + rem
  n-n//10
print(s)

Swap a number

In [ ]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

Pattern Printing

In [ ]:
def part(n):
	myList = []
	for i in range(1,n+1):
		myList.append("*"*i)
	print("\n".join(myList))


n = int(input())
part(n)

5
*
**
***
****
*****

In [ ]:
n=int(input())
for i in range(0,n+1):
  for j in range(1,i+1):
    print("*" ,end="")
  print(" ")

6

*
**
***
****
*****
******

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i ,end="")
  print(" ")

5
1
22
333
4444
55555

In [ ]:
n=int(input())
for i in range(0,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print(" ")

5

1
12
123
1234
12345

Date

In [ ]:
import re
s=input()
p="^(0?[1-9]|[1-2][0-9]|3[0-1])[\/\-](0?[1-9]|1[0-2])[\/\-](\d{4})$"
x=re.findall(p,s)
print(x)

12-2-2000
[('12', '2', '2000')]

write a python program to open a file in read mode and read the content of the file

In [ ]:
f=open("Bootcamp.ipynb","r")
f.readline()
f.close()

write a python prpgram to read the content from the line

In [ ]:
f=open("a.txt","r")
s=int(input())
for i in f:
  if i!=s:
    continue
  else:
    f.readline()
    break
f.close()

write a program to copy the content from two files into single file

__BASICS__

In [ ]:
   l=[1,2,3]
   print(l)

[1, 2, 3]

In [ ]:
   l=[1,2,3]
   print(l[0])

1

In [ ]:
   l=[1,2,3]
   l.append(4)
   print(l)

[1, 2, 3, 4]

In [ ]:
   l=[1,2,3]
   l.insert(1,4)
   print(l)

[1, 4, 2, 3]

In [ ]:
   l=[1,2,3]
   l.reverse()
   print(l)

[3, 2, 1]

In [ ]:
   l=[1,3,2]
   l.sort()
   print(l)

[1, 2, 3]

In [ ]:
   l=[1,2,3]
   del(l[2])
   print(l)

[1, 2]

In [ ]:
   l=[1,2,3]
   l+=[4,5,6]
   print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
   l=[1,2,3]
   l.remove(3)
   print(l)

[1, 2]

In [ ]:
   l=[1,2,3]
   l.pop()
   print(l)

[1, 2]

In [ ]:
   l=[1,2,3]
   l.pop(0)
   print(l)

[2, 3]

In [ ]:
l=[1,2,3]
for i in range(0,len(l)):
  print(i,l[i])

0 1
1 2
2 3

In [ ]:
l=[1,2,3]
k=[]
k=l
print(l,k)

[1, 2, 3] [1, 2, 3]

In [ ]:
print("Hello"*2)

HelloHello

In [ ]:
print("Hello",3)

Hello 3

In [ ]:
n=int(input())
a=65
for i in range(0,n+1):
  for j in range(1,i+1):
    print(chr(a),end="")
    a+=1
  print(" ")

5

A
BC
DEF
GHIJ
KLMNO

In [ ]:
n=int(input())

for i in range(0,n+1):
  a=65
  for j in range(1,i+1):
    print(chr(a),end="")
    a+=1
  print(" ")

5

A
AB
ABC
ABCD
ABCDE

In [ ]:
n=int(input())
a=64
for i in range(0,n+1):
  for j in range(1,i+1):
    print(chr(a),end="")
  a+=1
  print(" ")

5

A
BB
CCC
DDDD
EEEEE

In [ ]:
n=int(input())
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("*",end="")
  print(" ")

5
*****
****
***
**
*

In [ ]:
n=int(input())
a=65
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(chr(a),end="")
  a+=1
  print(" ")

5
AAAAA
BBBB
CCC
DD
E

In [ ]:
n=int(input())
a=65
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(chr(a),end="")
    a+=1
  print(" ")

5
ABCDE
FGHI
JKL
MN
O

In [ ]:
n=int(input())

for i in range(n,0,-1):
  a=65
  for j in range(1,i+1):
    print(chr(a),end="")
    a+=1
  print(" ")

5
ABCDE
ABCD
ABC
AB
A

In [ ]:
n=int(input())
a=1
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(a,end=" ")
  a+=1
  print(" ")

5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
n=int(input())
a=1
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(a,end=" ")
    a+=1
    a%=10
  print(" ")

5
1 2 3 4 5
6 7 8 9
0 1 2
3 4
5

In [ ]:
l=[1,2,3]
sum=0
for i in l:
  sum+=i
  print("Sum : ",sum)

Sum :  1
Sum :  3
Sum :  6

In [ ]:
m,n=map(int,(input().split()))
print(m+n)

3 2
5

In [ ]:
l=[1,2,3,4]
print(tuple(l))

(1, 2, 3, 4)

__ASSIGNMENT__

1> Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [ ]:
import re
def text_match(text):
        patterns = '^[a-zA-Z0-9_]*$'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("The quick brown fox jumps over the lazy dog."))
print(text_match("Python_Exercises_1"))

Not matched!
Found a match!


2> Write a Python program to remove leading zeros from an IP address.

In [ ]:
import re
ip = "216.08.094.196"
string = re.sub('\.[0]*', '.', ip)
print(string)

216.8.94.196

3> Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [ ]:
import re
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

4> Write a Python program to find all words starting with 'a' or 'e' in a given string

In [ ]:
import re

text = "The following example creates"
list = re.findall("[ae]\w+", text)
print(list)

['example', 'eates']

5>  Write a Python program to abbreviate 'Road' as 'Rd.' in a given string

In [ ]:
import re
street = '21 Ramkrishna Road'
print(re.sub('Road$', 'Rd.', street))

21 Ramkrishna Rd.